@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-Regular.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 400;
    font-display: swap;
  }