@import '_vars';
@import '_global';
@import '_fonts';

// start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text{
  margin-left: auto; 
  margin-right: 50px; 
  span{
    color:$red;
  }
  
}
.header__text a{

}
.header__btn{
    width: 72px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    color:#fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-registr{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
    padding: 22px 0;
}
.menu{
    
    
}
.menu__list{
    display: flex;
    align-self: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
}
.menu__list a{
    color:#fff;
    font-size: 14px;
    font-weight: 500;
}

// stop header
// start search

.search{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 533px;
}
.search-inner{
    text-align: center;
    padding: 155px 0 100px;
    color:#fff;
    &-title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            width: 100%;
            display: block;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border:none;
            font-size: 14px;
            font-weight: 500;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color:#90a4ae;
            }
        }
        button{
            position: absolute;
            border:none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}

// stop search
// start product

.product{
    padding: 100px 0 110px;
    background-color: $grey;
}
.product-inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding:12px 21px;
        border:none;
        background-color: #fff;
        font-size: 14px;
        font-weight: 500;
        color:$bg;
        margin-left: 5px;
        cursor:pointer;
        &.mixitup-control-active{
            background-color: #e74c3c;
            color:#fff;
           outline:none;
        }
    }
}
.product-inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 30px;
        min-height: 90px;
        border:1px solid #e7ecf2;
        &-name{
            min-width: 310px;
        }
    }
    &-title{
        font-size: 18px;
        font-weight:500;
        color:$bg;
        margin-bottom: 5px;
        display: block;
    }
    &-category{
      font-size: 14px;
      font-weight: 700;
      color:$green;  
    }
    &-price{
        font-size: 19px;
        font-weight: 500;
        color:$bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 61px;
        padding:10px 30px;
    }
    &-avtor{  
        display: flex;
        align-items: center; 
        .avatar{
            width: 30px;  
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            display:inline-block;
            margin-right: 14px;
        }
        span{
        font-weight: 500;
        font-size: 14px;
        color:$color-text;
        }
    }
}
.product__bottom-btn{
    padding-top: 50px;
    text-align: center;
    button{
        border:none;
        font-size: 16px;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        color:$bg;
        padding:20px 30px;
        margin-right: 9px;
        cursor:pointer;
        &.mixitup-control-active{
            background-color: #e74c3c;
            color:#fff;
           outline:none;
        }
    }
}

// product-slider

.product-slider{
    padding:115px 0 110px;
    .slick-dots{
        text-align: center; 
    }
    li{
        display:inline-block;
        margin-right: 7px;
        margin-top: 50px;
        &.slick-active{
            button{
                background-color:$green;
            }   
        }
        button{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgb(232, 232, 232);
            border:none;
            text-decoration: none;
            font-size: 0;
            cursor:pointer;
            outline:none;
        }
    }
}

// advantage
.advantage{
    padding: 120px 0 115px;
    background-color:$bg ;
    &__title{
        color:#fff;
    }
    &__inner{
        display: flex;
        
    }
}
.advantage__item{
    text-align: center;
    cursor:pointer;
    
    &:hover{
        .advantage__item-img{
            background-color:$green ;
        } 
        .advantage__item-title{
            color:$green;
        }
    }
    &-img{
        width: 112px;
        height: 112px;
        border-radius:50%;
        background-color: #fff;
        padding-top: 17px;
        margin: 0 auto;
        margin-bottom: 25px;
        transition:all 0.4s;
        
    }
    &-title{
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 25px;
        color:#fff;
        transition:all 0.4s;
    }
    &-text{
        color:#b0bec5;

    }
}

// avtor
.avtor{
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__box{
        min-width: 653px;
        min-height: 220px;
        background-color: $green;
        display: flex;
        align-items: center;
        padding: 68px 57px 80px 57px;
        
        
    }
    &__title{
        font-size: 30px;
        color:#fff;
        width: 265px;
        margin-right: 40px;
        line-height: 1.4em;
        span{
            font-weight: 700;
        }
    }
    &__link{
        width: 225px;
        background-color: #fff;
        text-align: center;
        color:$bg;
        padding: 25px 0 22px;
        font-size: 18px;
        &:hover{
            color:#fff;
            background-color: $bg;
        }
    }

}

// tutorial
.tutorial{
    padding:75px 0 175px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        margin-bottom: 50px;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-img{
        width: 100%;
        min-height: 270px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        display:block;
    }
    &-title{
        text-align: center;
        width: 100%;
        padding:38px 10px ;
        background: #f8f8f8;
        font-size: 24px;
        font-weight: 700;

    }
}


  

  


